/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-jun-2018, 19:50:28
    Author     : Alvaro
*/

#lateral {
    position: fixed;
    float: left;
    background-color: #085394;
    height: 100%;
    padding: 1%;
    left: 0;
    top: 0;
}

#lateral p {
    border-bottom: #e6e6e6 1px solid;
}

#lateral h1 {
    margin: 0 0 5% 0;
}
ul {
    margin: 10% 0 0 0;
}
p,li, h1,a {
    color: white;
}

li {
    margin: 20% 0;
}

table {
    width: 100%;
    margin: 2% 0 2% 0;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    border-bottom: 3px solid #e6e6e6;
}

th {
    color: white;
    line-height: 30px;
}

thead {
    height: 35px;
}

thead tr {
    background: #06f;
}

tbody tr td {
    padding: 1%;
    text-align: center;
}

tbody tr:hover td {
    background: #eeeeee;
    border-bottom: 0px;
    border-radius: 0px;
}

/*Clase para boton*/
.btn {
    background: #06f;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    color:white;
    font-family: 'UbuntuBold';
    cursor: pointer;
}

.btn:hover {
    background: #71aaff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;

}