/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-may-2018, 20:18:30
    Author     : Alvaro
*/

#ui-id-2 {
    height: 0;
}

p {
    font-family: UbuntuLight;
}

#grafico {
    height: 310px;
}

#dialog-link {
    background: #e4e4e4;
    color: #06f;
    float: right;
    margin: 2% 0;
}

#dialog-link img {
    width: 15px;
    position: relative;
    top: 2px;
    right: 10px;
}

#dialog span:first-child {
    margin-right: 2%; 
}

#spinner {
    width: 110px;
}

#gramos {
    width: 65px;
}

#textoDialogo {
    font-size: 0.8em; 
    margin: 2%;
}
table {
    width: 100%;
    margin: 2% 0 2% 0;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    border-bottom: 3px solid #e6e6e6;
}

th {
    color: white;
    line-height: 30px;
}

thead {
    height: 35px;
}

thead tr {
    background: #06f;
}

tbody tr td {
    padding: 1%;
}

tbody tr:hover td {
    background: #eeeeee;
    border-bottom: 0px;
    border-radius: 0px;
}

/*Clase para boton*/
.btn {
    background: #06f;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    color:white;
    font-family: 'UbuntuBold';
    cursor: pointer;
}

.btn:hover {
    background: #71aaff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;

}