/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-jun-2018, 19:01:18
    Author     : Alvaro
*/

p {
    margin: 2%;
}

/*datos personales*/
#datosPersonales {
    position: relative;
    width: 45%;
    margin: 2%;
    float: left;
    height: 400px;
}

#datosPersonales > h1{
    font-size: 1.5em;
    text-align: left;
    border-bottom: #e4e4e4 1px solid;
    margin: 0 0 2% 0;
}

#datosPersonales p {
    font-family: "UbuntuLight";
    font-weight: bold;
}

#datosPersonales p span{
    font-family: "UbuntuLight";
    font-weight: normal;
}

/*Fin de datos personales*/
/*Datos plan entrenamiento*/
#datosPlan {
    position: relative;
    width: 45%;
    margin: 2%;
    float: right;
    height: 400px;
}

#datosPlan > h1{
    font-size: 1.5em;
    text-align: left;
    border-bottom: #e4e4e4 1px solid;
    margin: 0 0 2% 0;
}

#datosPlan p {
    font-family: "UbuntuLight";
    font-weight: bold;
}

#datosPlan p span{
    font-family: "UbuntuLight";
    font-weight: normal;
}


/*Fin datos plan entrenamiento*/

#progreso {
    width: 80%;
    margin: 0 auto;
}

#progreso a {
    margin: 0 2%;
}
/*Inicio modificacion de datos*/
#modificacionDatos {
    position: relative;
    width: 80%;
    margin: 2% auto;
}

#modificacionDatos > h1{
    font-size: 1.5em;
    text-align: right;
    border-bottom: #e4e4e4 1px solid;
    margin: 0 0 2% 0;
}

#modificacionDatos label {
    font-family: "UbuntuLight";
    font-weight: bold;  
}


#fileUpoad label {
    margin: 0 2% 0 0;
}
/*Fin modificacion de datos*/


#sobreMiPlan {

}

#sobreMiPlan table {
    width: 100%;
    margin: 2% 0 2% 0;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

#sobreMiPlan table th, td {
    border-bottom: 3px solid #e6e6e6;
}

th {
    color: white;
    line-height: 30px;
}

thead {
    height: 35px;
}

thead tr {
    background: #06f;
}

tbody tr td {
    padding: 1%;
}

tbody tr:hover td {
    background: #eeeeee;
    border-bottom: 0px;
    border-radius: 0px;
}

.btn {
    background: #06f;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    color:white;
    font-family: 'UbuntuBold';
}

.btn:hover {
    background: #71aaff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#modificacionDatos form {
    margin: 3% 0;
}
