/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-may-2018, 12:19:13
    Author     : Alvaro
*/

#contenido {
    width: 90%;
    margin: 5% 5%;
    position: relative;

}

#contenido form {
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.35);
}

form > a {
    display: block;
    text-align: left;
    margin: 8% 0 0 5%;
}

p span {
    color: red;
}
#boton {
    text-align: right;
    margin: 4% 17% 0 0;
    padding: 0 0 3% 0;
}

label {
    font-family: "UbuntuLight";
    font-weight: bold;
}

#titulo {
    display: block;
    text-align: left;
    margin: 7% 0 -6% 5%;
    font-size: 2em;   
    color: #06f;
    border-bottom: 3px solid #06f;
    padding-right: 51%;
    width: 23%;

}

textarea {
    width: 250px;
}

/*Div datos personales*/
#datosPersonales {
    margin: 0 auto;
    width: 70%;
    display: table;
}

h1 {
    display: table-caption;
    text-align: center;
    margin: 0 0 3% 0;
    color: #06f;
    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 10px;

}

input[type="text"], input[type="password"] {
    border: 1px solid black;
    border-radius: 3px;
}

input[type=text]:focus,input[type=password]:focus, select:focus{
    border: 1px solid #06f;
}

#datosPersonalesIzquierda {
    width: 35%;
    display: table-cell;
    float: left;
}

#datosPersonalesDerecha {
    display: table-cell;
    float: right;
    width: 35%;
}

#datosPersonales label{
    width: 100px;
    display:block;
    float:left;
}

#datosPersonales p {
    margin: 5%;
}

#datosPersonales table{
    margin: 5%;
}

#datosPersonales table input[type="radio"] {
    margin: 0 19px 0 0;
}

/*Fin div datos personales*/

/*Inicio div datos fisicos*/
#datosFisicos {
    margin: 0 auto;
    width: 70%;
    display: table;
}


#datosFisicos label{
    width: 100px;
    display:block;
    float:left;
}

#datosFisicos p {
    margin: 5%;
}

#datosFisicosIzq {
    width: 35%;
    display: table-cell;
    float: left;   
}
#datosFisicosDer {
    width: 35%;
    display: table-cell;
    float: right;  
}

#datosFisicosDer select {
    margin: 7% 0;
}
#objetivoOtro {
    display: none;
}
#objetivoOtro label {
    width: 220px;
    margin: 0 0 5% 0;
}

/*Fin div datos fisicos*/

/*Div plan deportivo*/
#datosPlan {
    margin: 0 auto;
    width: 70%;
    display: table;
}

#datosPlan p{
    margin: 5%;
}

#datosPlan label{
    width: 93%;
    display:block;
    float:left;
    margin: 0 0 5% 0;
}

#datosPlan table{
    margin: 5%;
}


#datosPlan table input[type="radio"] {
    margin: 0 19px 0 0;
}

#datosPlan td > label {
    width: 30px;
}

div#datosPlan h1 ~ p {
    margin: 0 1% 3% 2%;
}

div#datosPlan h1 ~ p > label{
    width: 58%;
    display: block;
    float: left;
    margin: 0 9% 0 0;
}

#datosPlanIzq {
    width: 35%;
    display: table-cell;
    float: left; 
}

#textoAlergia {
    display: none;
}

#textoComida {
    display: none;
}

#textoEnfermedad {
    display: none;
}

#datosPlanDer {
    width: 35%;
    display: table-cell;
    float: right;
}

#textoDeporteComple {
    display: none;
}

/*Fin div plan deportivo*/

/*Clase para boton*/
.btn {
    background: #06f;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 15px 4px 15px;
    text-decoration: none;
    color:white;
    font-family: 'UbuntuBold';
}

.btn:hover {
    background: #71aaff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}