<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DeltaFitPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>DTO.Recuperacion</class>
    <class>DTO.Entreno</class>
    <class>DTO.Mensaje</class>
    <class>DTO.RutinaEntreno</class>
    <class>DTO.Visita</class>
    <class>DTO.DietaPlanPred</class>
    <class>DTO.Exito</class>
    <class>DTO.Deporte</class>
    <class>DTO.DietaRecuperacion</class>
    <class>DTO.PreparadorSeleccion</class>
    <class>DTO.Administrador</class>
    <class>DTO.Imagen</class>
    <class>DTO.RutinaRecuperacion</class>
    <class>DTO.PlanPred</class>
    <class>DTO.Valoracion</class>
    <class>DTO.Atleta</class>
    <class>DTO.Musculo</class>
    <class>DTO.DietaEntreno</class>
    <class>DTO.RutinaPlanPred</class>
    <class>DTO.Peso</class>
    <class>DTO.Ejercicio</class>
    <class>DTO.Preparador</class>
    <class>DTO.Pago</class>
    <class>DTO.PreparacionAtleta</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/deltafit?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
